.App {
  background-color: #282c34;
  padding: 50px 400px;
}

.subButton {
  cursor: pointer;
  padding: 6px 12px;
  color:white;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: cornflowerblue;
}